.contactHeader {
    margin-top: 5px !important;
}

.contactCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 75px -5px rgba(27, 27, 27, 0.75);

} 

.contactCard {
    margin-top: 0 !important;
    margin: 3rem 10rem !important;
    padding: 5px 10px !important;
}