body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.dark-content {
  background: #191919;
  color: white;
}

.light-content {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.main-page {
  min-height: 100vh;
  width: 100%;
  padding: 40px;
}

.cardPersonalizada:hover {
  transition: 100ms ease-in-out;
  transform: scale(1.05);
  box-shadow: 18px 19px 39px 2px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: 18px 19px 39px 2px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 18px 19px 39px 2px rgba(0, 0, 0, 0.50);
}

.cardPersonalizadalight:hover {
  transition: 100ms ease-in-out;
  transform: scale(1.05);
  box-shadow: 18px 17px 34px -10px rgba(27, 27, 27, 0.75);
  -webkit-box-shadow: 18px 17px 34px -10px rgba(27, 27, 27, 0.75);
  -moz-box-shadow: 18px 17px 34px -10px rgba(27, 27, 27, 0.75);
}

.controlledField {
  margin: 8;
}

/* ControlledField.jsx -> TextField */

.taskCardContent {
  display: flex;
  gap: 15px;
}

/* TaskCard.jsx -> CardContent-> div */

.taskCardActions {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}

/* TaskCard.jsx -> CardActions */

.taskListBodySection {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* TaskList.jsx -> section (currentCards.map) */

.taskListPagination {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* TaskList.jsx -> section (Pagination) */

